*{
  box-sizing: border-box;
  font-family: 'Roboto';
  font-style: normal;
  padding: 0;
}
body{
  margin: 0 auto;
}
header{
  margin: 0 auto;
  position: relative;
}
.container{
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}
.header_burger{
 max-width: 44px;
height: 37px;
 background-color: #000;
 position: absolute;
 top: 0px;
 right: 0px;
 display: none;
 width: 100%;
}
.header_burger::after{
  content: '';
  width: 17px;
  height: 2px;
  position: absolute;
  top: 10px;
  right: 13px;
  background-color: #fff;
  transition: 0.3s;
  transition: all 0.3s ease 0s;
}
.header_burger::before{
  content: '';
  width: 17px;
  height: 2px;
  position: absolute;
  top: 24px;
  right: 13px;
  background-color: #fff;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
.burger_line{
  content: '';
  width: 17px;
  height: 2px;
  position: absolute;
  top: 17px;
  right: 13px;
  background-color: #fff;
  transition: all 0.3s ease 0s;

}
@media (max-width:1200px)  {
  .container {
    max-width: 970px;
  }
}
@media (max-width:992px){
  .container{
    max-width: 750px;
  }
}
@media (max-width:767px){
  .container{
    max-width: none;
  }
}
.header_content{
  max-width: 1170px;
}
.top_nav_links_item{
  list-style: none;
}
.top_nav_links:hover{
  color: rgba(87, 164, 164, 1);
}
.top_nav_menu{
  max-width: 1170px;
  margin-top: 45px;
  margin-bottom: 61px;
}
.top_nav_bar{
  display: flex;
  justify-content: space-between;
  text-align:center;
  max-width: 880px;
  margin: 0 auto;
  // margin-left: 68px;
}
@media (max-width:1200px)  {
  .top_nav_bar{
    max-width: 680px;
    margin-left: 130px;
  }
}
@media (max-width:992px){
  .top_nav_bar{
    max-width: 540px;
    margin-left: 90px;
  }
  .top_nav_menu{
    margin-bottom: 43px;
  }
}
@media (max-width:767px){
  .top_nav_bar{
    opacity: 0;
    margin-top: 5px;
    margin-bottom:30px;
  }
  .header_burger{
    display: block;
    cursor: pointer;
   
  .top_nav_menu{
    margin-bottom: 0px;
    margin-top: 0;
  }
}
}
.header_burger.active::after{
  transform: rotate(45deg);
top: 17px;
}
.header_burger.active::before{
  transform: rotate(-45deg);
  top: 17px;
}
@media screen and (max-width: 476px) {
  .top_nav_menu{
    margin-bottom: 23px;

  } .top_nav_bar{
    margin-bottom: 23px;
  }
  
  .collage_photo{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    justify-content: center;
  }
  .collage_photo_item_2{
    display: none;
  }
  
    .second{
      display: none;
    
  } 
  // .fotter_contacts{
  //   display: flex;
  // }
    
}
.main{
  display: block;
}
.header_burger.active span{
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}
.top_nav_bar_burger{
  list-style: none;
border:1px solid #000;
width: 182px;
height: 220px;
text-transform: uppercase;
position: absolute;
top: 20px;
right: 0;
background: #F5F5F5;
display: none;
}
.active{
  display: block;
  }
.top_nav_links_burger{
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  cursor: pointer;
  color: #4E4E4E;
}
.top_nav_links_burger:hover{
color: #57A4A4;

}
.top_nav_links_item_burger:hover{
  background: #E5E5E5;
  
}


.top_nav_links_item_burger{
 padding-left: 12px;
  padding-bottom: 8px;
}
  .top_nav_links{
   
// margin-left: 68px;

    text-decoration: none;
    font-size: 11px;

text-transform: uppercase;
cursor: pointer;
color: #4E4E4E;
  }
.main_picture{
max-width: 1170px;
}

@media (max-width:1200px)  {
  .main_section {
  margin-left: 0;
  }
  .main_picture {
    max-width: 940px;
  }
  .main_card{
    margin-left: 0;
  }

}
@media (max-width:992px){
  .main_section{
    margin-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 555px;
  }
  .collage_photo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 0;
    width: 100%;
    justify-items: center;
    img{
      max-width: 100%;
     }
  }
  .collage_photo_item_4 {
   display: none;
    
}
  .main_text_for_card{
    margin-left: 23px;
  }
  .main_picture{
    max-width: 720px;
  }
}
@media (max-width:767px){
  .main_section {
  margin-left: 0;
  }
  .main_picture{
    max-width: 100%; 
    
  }
  .fotter_contacts{
    display: block;
    margin-top: 25px;
  }

  .top_nav_links:hover{
    color:  rgba(87, 164, 164, 1);
  }
  .main_title{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    margin-top: 66px;
    color: #4E4E4E;
  }
  .main_card{
  
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    
  }
  .collage_photo{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .collage_photo_item_4 {
    display: none;
     
 }
 .collage_photo_item_3 {
  display: none;
   
}
  .main_text_for_card{
    margin-left: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    font-size: 14px;
    margin-top: 11px;
  }
  .main_text{
    max-width: 232px;
    display: none;
  }
}


.main_text_for_card{
 margin-top: -21px;
  margin-left: 21px;
}
.main_section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 24px;
}
.main_photo_name{
  font-weight: 700;
font-size: 16px;
line-height: 30px;
color: #4E4E4E;
cursor: pointer;
}

.main_coments{
  font-weight: 400;
font-size: 12px;
line-height: 20px;
cursor: pointer;

color: #7C7C7C;
}
.main_text{
  font-size: 14px;
line-height: 26px;
cursor: pointer;
color: #5C5C5C;
}
.main_text_slash{
  margin-left: 5px;
  margin-right: 5px;
}
.main_image{
  cursor: pointer;
}
.main_card{
  display: flex;
  margin-bottom: 69px;
  margin-left: 20px;
}
.bacground{
  background-color: rgba(0, 0, 0, 0.03) ;
  // opacity: 0.03; 

  min-height: 440px;
 
  
}
.section_tags{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.collage_photo{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 gap: 10px;
  
  img{
   max-width: 100%;
  }
}
.footer_title{
  font-weight: 700;
font-size: 16px;
line-height: 22px;
text-transform: uppercase;
text-align: center;
margin-top: 66px;
color: #FEFEFE;
}
.background_footer{
  background-color: rgba(0, 0, 0,) ;
  width: 100%;
  min-height: 355px;
  box-sizing: border-box;
  margin-top: -10px;
}
.footer_subtitle{
  font-weight: 400;
  margin: 0 auto;
font-size: 16px;
line-height: 28px;
text-align: center;
max-width: 684px;
color: #B9B9B9;
margin-top: 22px;
}
.footer_content{
  max-width: 1170px;
  display: flex;
  flex-direction: column;
}
.footer_svg{
  svg{
    cursor: pointer;
  }
  text-align: center;
  margin-top: 37px;
}
.fotter_contacts{
  display: flex;
text-align: center;
  margin-top: 34px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
line-height: 26px;
text-align: center;
max-width: 613px;
max-height: 332px;
color: #B9B9B9;
margin-bottom: 70px;
margin-top: 34px;
}

.footer_span{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}